@charset "ISO-8859-1";
body{
  background-image:  url("/img/Poster.jpg");
  background-repeat:no-repeat;
  background-position:center;
  background-size:100%;
  height: 100vh;
}
.topic{
  text-align: left;
  margin-left: 100px;
  margin-top:370px;
  color: white;
  font-weight:200px;
}
  /*Trigger Button*/
.login-trigger {
  font-size: x-large;
}

/*Modal*/
h4 {
  font-weight: bold;
  color:#1565c0;
}
.close {
  color: #fff;
  transform: scale(1.2)
}
.modal-content {
  font-weight: bold;
  background: #fff;
   width: 400px;
}
.form-control {
  margin: 1em 0;
  width: 350px;
}
.form-control:hover, .form-control:focus {
  box-shadow: none;  
  border-color: black;
}
.username, .password {
  border: none;
  border-color: black;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 2px solid #fff;
  padding-left: 0;
  font-weight: normal;
  background: transparent;  
}
.form-control::-webkit-input-placeholder {
  color: #eee;  
}
.form-control:focus::-webkit-input-placeholder {
  font-weight: bold;
  border-color: black;
  color: #fff;
}
.login {
  padding: 6px 20px;
  background: none;
  background-color:#1565c0;
  border: 1px solid #fff;
  color: white;
  font-weight: bold;
  transition: all .5s;
  margin-top: 1em;
}
.login:hover {
  background: black;
  color: white;
}
#test-purpose{
	color:green;
}
